.metamask-button {
    background-color: #f1611a;
    color: white;
}

.whitepaper-icon {
    color: #009FB7;
}

.hero-section {

}

.navbar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.is-strong {
    color: black;
}

.is-pink {
    color: #DA4167;
}

.is-pink-button {
    background-color: rgba(218, 65, 103, 0.3);
    font-weight: 600;
    border: none;
    font-size: 18px;
    padding: 1.5rem;
}

.is-yellow {
    color: #ffc300;
}

.roadmap-container {
    border-radius: 10px;
    background: linear-gradient(110deg, #ffc8dd 50%, #ffafcc 50%);
}

.roadmap-title {
    color: white;
    font-weight: bolder;
    letter-spacing: 0.3rem;
}