.metamask-button {
    background-color: #f1611a;
    color: white;
}

.whitepaper-icon {
    color: #009FB7;
}

.hero-section {

}

.navbar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.is-strong {
    color: black;
}

.is-pink {
    color: #DA4167;
}

.is-pink-button {
    color: #DA4167;
    font-weight: 600;
}

.is-yellow {
    color: #ffc300;
}

.roadmap-container {
    border-radius: 40px;
    background: linear-gradient(110deg, #fdcd3b 50%, #ffed4b 50%);
}

.roadmap-title {
    color: white;
    font-weight: bolder;
    letter-spacing: 0.3rem;
}