.metamask-button {
    background-color: #f1611a;
    color: white;
}

.navbar {
    background-color: transparent;
    background-image: none;
}

.whitepaper-icon {
    color: #009FB7;
}

.hero-section {

}

.navbar {
    margin-bottom: 10px;
}

.is-strong {
    color: black;
}

.is-pink {
    color: white;
}

.is-pink-button {
    background-color: rgba(218, 65, 103, 0.3);
    font-weight: 600;
    border: none;
    font-size: 18px;
    padding: 1.5rem;
}

.is-yellow {
    color: #ffc300;
}

.pink-container {
    border-radius: 10px;
    background: linear-gradient(110deg, #ffc8dd 50%, #ffafcc 50%);
}

.roadmap-title {
    color: #f14668;
    font-size: 40px;
}

.mainhero-title {
    color: black;
    font-weight: bolder;
    font-size: 40px;
}

.mainhero-subtitle {
    font-size: 22px;
    color: black;
}

.mainhero-button {
    font-weight: 500;
    font-size: 19px;
}

.is-danger {
    border: 1px solid !important;
}

.navbar {
    padding:0.4rem 0;
    background: rgba(218, 65, 103, 0.9);
}

.navbar-text{
    color: white;
    font-weight: 500;
}

.table {
    background: none;
}

.doughnut-column {
    background-color: #0096c7;
    border-radius: 30px;
}

.tokenomics-columns {
    background: #eaf4f4;
    border-radius: 30px;
}

.title-column {
    background: red;
}

.presale-button {
    color: #c23458 !important;
}

.bank-table {
    background-color: #ffc8dd;
    border: 3px solid #ffafcc;
    border-radius: 20px;
}

.navbar-item:hover {
    background-color: #a31b3d !important;
}

.navbar-item:focus {
    background-color: #a31b3d !important;
}

footer {
    background-color: rgba(218, 65, 103, 0.6);
}